<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATBhKht0GM9PgoYDuKFL2dgbu0FXCgoS8</string>
	<key>GCM_SENDER_ID</key>
	<string>878321311166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivivi</string>
	<key>PROJECT_ID</key>
	<string>roxie-1d2a0</string>
	<key>STORAGE_BUCKET</key>
	<string>roxie-1d2a0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878321311166:ios:793b8a4d47ff2edb9fedef</string>
</dict>
</plist>